<h1>Edit user </h1>

<%= form_with model: @user, url: user_path do |f| %>
  <h2>Create User</h2>
  <div>
    <%= f.label :first_name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :last_name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>

  <%= f.submit "Edit Movie" %>
<% end %>