<h1>Edit film </h1>

<%= form_with model: @film, url: film_path do |f| %>
  <h2>Create Movie</h2>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>

    <%= f.label :year %>
    <%= f.number_field :year %>
  </div>

  <%= f.label :author %>
  <%= f.text_field :author %>

  <%= f.label :genre %>
  <%= f.text_field :genre %>
  <%= f.submit "Edit Movie" %>
<% end %>