<div class="columns">
  <% @films.each do |film| %>
  <div class="column is-one-third">
    <div class="card">
      <div class="card-content">
        <p class="title">
          <%= link_to film.name, film_path(film) %>
        </p>
        <p class="subtitle">
          <%= film.author %> <%= film.genre %> <%= film.year %>
        </p>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item">
      <span>
        <%= link_to 'edit', edit_film_path(film) %>
      </span>
        </p>
        <p class="card-footer-item">
      <span>
        <%= link_to "add comment", new_film_comment_path(film_id: film.id) if user_signed_in? %>
      </span>
        </p>
      </footer>
    </div>
  </div>
  <% end %>
</div>
