<% @films.each do |film| %>
  <h1 style="color: green"><%= link_to film.name, film_path(film) %> </h1>
  <h3 style="color: orangered"><%= film.author %> <%= film.genre %> <%= film.year %></h3>
  <p><%= link_to 'edit', edit_film_path(film) %></p>
  <p><%= link_to "add comment", new_film_comment_path(film_id: film.id) if user_signed_in? %></p>
<!--  <h2 style="color: red"></h2>-->
<!--  <h2 style="color: red"></h2>-->
<!--  <h2 style="color: red"></h2>-->
<% end %>